@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Roboto, 'Work Sans', system-ui, sans-serif;

    }
}

@layer utilities {
    .naav{
        width: 100%;
        height: auto;
        transition: height 20s ease-in-out;
      }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #000;
        stroke-width: 5.5;
        stroke-linecap: round;
    }

    .ham4 .top {
        stroke-dasharray: 40 121;
    }

    .ham4 .bottom {
        stroke-dasharray: 40 121;
    }

    .ham4.active .top {
        stroke-dashoffset: -68px;
    }

    .ham4.active .bottom {
        stroke-dashoffset: -68px;
    }
    .carousel {
        position: relative;
        overflow: hidden;
      }
      
      .carousel-container {
        display: flex;
        transition: transform 0.5s ease;
      }
      
      .carousel-item {
        display: flex;
        width: fit-content;
      }
      
      .carousel-image {
        flex: 0 0 auto;
      }
      
      .carousel-image img {
        max-width: 100%;
        height: auto;
      }
      
}